<% user = User.current %>
<% write_access = user.allowed_to?(:commit_access, @project) %>
<% read_access = user.allowed_to?(:view_changesets, @project) %>
<% if @project.module_enabled?("git_server") and read_access and @repository.type.end_with? "Git" %>
  | 
  <%= content_tag :div, class: 'drdn clone-wrapper' do %>
    <%= button_tag l(:clone), type: 'button', class: 'drdn-trigger clone-button' %>
    <%= content_tag :div, class: 'drdn-content clone-dropdown' do %>
      <% protocol = Setting['protocol'] %>
      <h4><%= l(:clone_with_protocol, protocol: protocol.upcase) %></h4> 
      <%= render 'clone_form' %>
    <% end %>
  <% end %>
<% end %>
